<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--header s-->
<div class="bar bar-header item-input-inset bg-black fs-most header bgs0"ng-if="!hideTabs">
    <button class="button button-icon"><img src="img\切图\P2首页\drawable-hdpi\erweim.png" class="icon-img-nav"></button>
    <label class="item-input-wrapper bg-transparent header-inp text-center">
        <a class="icon ion-ios-search placeholder-icon c-while fs-icon fs-b search"></a>
        <input type="search" placeholder="搜索商品或品牌"class="c-while text-center search-shop"ui-sref="searchIndex">
    </label>
    <button class="button button-icon"ui-sref="info"><img src="img\切图\P2首页\drawable-hdpi\mess.png" class="icon-img-nav"></button>
</div>
<!--header e-->
<ion-tabs class="tabs-icon-top tabs-color-active-dark index-footer">
  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="iconfont icon-shouye" icon-on="iconfont icon-shouye" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="分类" icon-off="iconfont icon-4" icon-on="iconfont icon-4" href="#/tab/fenlei">
    <ion-nav-view name="tab-fenlei"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="品牌馆" icon-off="iconfont icon-pinpai" icon-on="iconfont icon-pinpai" href="#/tab/pinpai">
    <ion-nav-view name="tab-pinpai"></ion-nav-view>
  </ion-tab>

	<ion-tab title="购物车" icon-off="iconfont icon-gouwuche" icon-on="iconfont icon-gouwuche" href="#/tab/shopCart">
    <ion-nav-view name="tab-shopCart"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我的" icon-off="iconfont icon-wode" icon-on="iconfont icon-wode" href="#/tab/myinfo">
    <ion-nav-view name="tab-myinfo"></ion-nav-view>
  </ion-tab>
</ion-tabs>
