<ion-view title="分类首页">
<ion-content class="body-bggrey detail bg-white has-footer" scroll="false">
    <ion-content class="classify text-center fs-prim"scrollbar-y="false">
   <ul >
       <!--<li class="active">全部分类</li>-->
       <li ng-repeat="fenlei in fenlei1"ng-bind="fenlei.gcName"ng-class="{'active':$index==actindex}"ng-click="onfenlei($index,fenlei.gcId)"></li>
   </ul>
    </ion-content>
    <ion-content class="classify-con bg-grey"scrollbar-y="false">
    	<div class="img-top"style="max-height: 7.5rem;>
    		<img ng-src="{{banner_img+details.advList[0].advSlidePic}}"/>
    	</div>
    	<div class="feilei-goods clearfix flex"style="border-top: 1px solid #e2e2e2;">
    		<div class="feilei-goods-imgwrap col col-33 fl"ng-repeat="detail in details.goodsClassList"style="padding: 0.25rem;">   			
    			<img ng-src="{{class_img+detail.classPic}}"/>
    			<p class="fs-tip c-tip esp1"ng-bind="detail.gcName"></p>
    		</div>    		
    	</div>
    	<div class="feilie-pinpai clearfix">
    		<div class="padding-v bg-white">
    			<p class="fs-prim borderb2 nomargin"style="width: 100%;padding: 0.5rem 0;">分类品牌</p>
    		</div>  
    		<div class="row row-no-padding">
    			<div class="feilei-feilei-imgwrap col col-33"ng-repeat="brand in details.brandList"ui-sref="store({storeId:brand.storeId})">
    			<img ng-src="{{pinpai_img+brand.brandPic}}"/>
    			</div>
    		</div>   		
    	</div>
    </ion-content>
</ion-content>
<!--ion-content ed-->
</ion-view>

