<ion-view view-title="购物车">
	<div class="bar bar-header bar-dark">
    <h3 class="title">购物车</h3>
</div>
  <ion-content class=" has-header c-most bg-grey">   
    <section class="myorder bg-white"style="margin-bottom: 0.5rem;">
    	<ul class="list">
        <li class="item item-checkbox checkbox-dark item-button-right">
           <span class="checkbox">
             <input type="checkbox" checked="checked">
           </span>
           <span>艾弗森</span>
           <button class="button icon button-clear"style="margin-right: 1.5rem;"disabled="false"><img src="img/切图/p5购物车/drawable-hdpi/couponicon.png"class="icon-img"/></button>
          
           <button class="button icon button-clear"><img src="img/切图/p5购物车/drawable-hdpi/deleteicon.png"class="icon-img"/></button>
        </li>
        <li class="item item-checkbox checkbox-dark nopadding-h item-text-wrap"style="overflow: hidden;padding-left: 1.75rem;">
           <span class="checkbox ">
             <input type="checkbox" checked="">
           </span>
           <div class="clearfix"style="height: 100%;">
           	<div class="fl">
           		<img src="img/切图/p5购物车/drawable-hdpi/img.png"style="height: 5rem;width: 5rem;"/>
           	</div>
           	<h3 style="padding-top: 0.75rem;">你骚男is是我是死死 你是你是弄死你你说</h3>
           	<p><span>红色 M码</span>
           		<span class="fr">
           			<button class="button button-small button-light button-outline"style="min-width:0.75rem;min-height:1rem;line-height: 0.75rem;width: 1rem;color: #999;"ng-click="jian()">－</button>
           			<button class="button button-small button-light button-outline"style="min-width:1rem;min-height:1rem;line-height: 0.75rem;width: 1.4rem;color: #000;"disabled="true">{{num1}}</button>
           			<button class="button button-small button-light button-outline"style="min-width:1rem;min-height:0.75rem;line-height: 0.75rem;width: 1rem;color: #999;"ng-click="add()">＋</button>
           		</span>
           	</p>
           	<span class="c-red">¥240</span>
           </div>
        </li>
        
         <li class="item item-checkbox checkbox-dark nopadding-h item-text-wrap"style="overflow: hidden;padding-left: 1.75rem;">
           <span class="checkbox ">
             <input type="checkbox" checked="">
           </span>
           <div class="clearfix"style="height: 100%;">
           	<div class="fl overhide"style="padding: 0.25rem;">
           		<img src="img/切图/p5购物车/drawable-hdpi/img.png"style="height: 5rem;width: 5rem;"/>
           	</div>
           	<h3 style="padding-top: 0.75rem;">你骚男is是我是死死 你是你是弄死你你说</h3>
           	<p><span>红色 M码</span>
           		<span class="fr">
           			<button class="button button-small button-light button-outline"style="min-width:0.75rem;min-height:1rem;line-height: 0.75rem;width: 1rem;color: #999;"ng-click="jian()">－</button>
           			<button class="button button-small button-light button-outline"style="min-width:1rem;min-height:1rem;line-height: 0.75rem;width: 1.4rem;color: #000;"disabled="true">{{num1}}</button>
           			<button class="button button-small button-light button-outline"style="min-width:1rem;min-height:0.75rem;line-height: 0.75rem;width: 1rem;color: #999;"ng-click="add()">＋</button>
           		</span>
           	</p>
           	<span class="c-red">¥240</span>
           </div>
        </li>
        <li class="item item-button-right noborder margin-t">
        	<span>合计：</span><span class="c-red">¥2222</span>
        	<button class="button button-dark">结算</button>
        </li>
    </section>

</ion-content>

</ion-view>
