<ion-view view-title="收银台">
<div class="bar bar-header bar-dark">
	<button class="button button-icon ion-ios-arrow-left c-while"ng-click="goBack(-2)"></button>
	<h3 class="title">收银台</h3>
</div>
 <ion-content class="has-header c-most bg-grey">   
   <div class="item noborder paytop noborder"style="background-color: transparent;">
   	支付金额
   	<span class="c-red fr">¥<i ng-bind="payInfo.orderAmount"></i></span>
   </div>
	<div class="item item-divider noborder fs-prim">订单总额<i ng-bind="payInfo.orderAmount"></i>元<i ng-if="payInfo.couponPrice && payInfo.couponPrice>0">(优惠券减<i ng-bind="payInfo.couponPrice"></i>元)</i></div>
	<div class="item noborder">
	支付方式
	</div>
	<label class="radioIt clearfix"for="wei"ng-click="chePay(0)">
		<div class="item zhifu"id="wei"ng-class="{'active':!payType}">
			<img src="img/切图/确认订单并支付（收银台）/drawable-hdpi/zhi.png"class="icon-img-big img-mr"/>
			<span style="vertical-align: middle;"class="fs-prim">支付宝支付</span>
			<span class="fr">
				<input type="radio"name="pay" ng-checked="!payType">
	            <span class="icon ion-ios-circle-outline fs-rem"></span>
	            <span class="icon ion-ios-checkmark fs-rem"></span>  
			</span>
		</div>	              
    </label>	
    <label class="radioIt"for="zhi"ng-click="chePay(1)">
		<div class="item noborder zhifu"id="zhi"ng-class="{'active':payType}">
			<img src="img/切图/确认订单并支付（收银台）/drawable-hdpi/weixin.png"class="icon-img-big img-mr"/>
			<span style="vertical-align: middle;"class="fs-prim">微信支付</span>
			<span class="fr">
				<input type="radio"name="pay"ng-checked="payType">
	            <span class="icon ion-ios-circle-outline fs-rem"></span>
	            <span class="icon ion-ios-checkmark fs-rem"></span>  
			</span>
		</div>	              
  </label>	
   <div style="padding: 1rem 2rem;">
   	    <button class="button button-block c-while button-dark"ng-click="payIt()">立即支付</button>
   </div>
</ion-content>
</ion-view>
