<ion-view title="品牌馆">
<!--header s-->
<div class="bar bar-header noborder bar-dark">
        <a class="button button-icon ion-ios-arrow-left padding c-while back-button fs-icon"href="javascript:history.back()"></a>
        <h3 class="title">品牌馆</h3>
    </div>
<!--header e-->
<ion-content class="has-header has-tabs bg-grey" >
   <ion-slide-box class="rexiaoslide">
            <ion-slide>
            	<img src="img/切图/P2首页/drawable-hdpi/banner2.png">
            </ion-slide>
    </ion-slide-box>
    <section class="pinpaiguan-list clearfix">
    	<ion-slide-box class="pinpaiguan-list-box">
    	<ion-slide>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	</ion-slide>
    	<ion-slide>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	<div class="pinpaiguan-list-imgwrap">
    		<img src="img/切图/P3分类首页/drawable-hdpi/nb-.png"/>
    	</div>
    	</ion-slide>
    	
    </ion-slide-box>
    </section>
    <section class="pinpaitehui bg-white">
   	<div class="item noborder text-center ">
   		<h3><span class="fw-b fs-most">品牌特惠</span></h3>
   	</div>
   	<img src="img/切图/P4商家（品牌馆）列表页/drawable-hdpi/banner-5.png"style="width: 100%;margin-bottom: 0.25rem;"/>
   	</section>
</ion-content>
<!--ion-content ed-->
</ion-view>