<ion-view>
<!--header s-->
<div class="bar bar-header item-input-inset bg-black fs-most header store-index">
    <button class="button button-icon ion-ios-arrow-back c-while"ng-click="goBack()"></button>
    <label class="item-input-wrapper bg-white  text-center">
        <a class="icon ion-ios-search placeholder-icon c-black fs-icon fs-b search"ng-click="searchIt()"></a>
        <input type="search" placeholder="搜索商品或品牌"class="text-center search-shop"ng-model="search">
        <i class="icon ion-ios-close-outline icon-right c-while fs-b fs-icon"ng-show="false"></i>
    </label>
    <i class="icon"ui-sref="pinpai-feileig"><img src="img/切图/P4-1店铺首页/drawable-hdpi/fenlei.png"class="icon-img"></i>
    <button class="button button-icon ion-android-more-vertical c-while"ng-click="showIt()"></button>
</div>
<div class="bgItc"ng-show="itshow"ng-click="showIt();$event.stopPropagation();"></div>
<ul class="kuang-caidan fade"ng-show="itshow">	
	<div>
	<li class=" text-center"ui-sref="info"ng-click="showIt();">
		<i class="icon"><img src="img/切图/P4-1店铺首页/drawable-hdpi/xiaoxi--on.png"class="icon-img"/></i>消息
	</li>
	<li class=" text-center"ui-sref="tab.main"ng-click="showIt();">
		<i class="icon"><img src="img/切图/P4-1店铺首页/drawable-hdpi/icon.png"class="icon-img"/></i>首页
	</li>
	<li class=" text-center">
		<i class="icon"><img src="img/切图/P4-1店铺首页/drawable-hdpi/iocn3.png"class="icon-img"/></i>分享
	</li>
	<li class=" text-center"ui-sref="aboutStore"ng-click="showIt();">
		<i class="icon"><img src="img/切图/P4-1店铺首页/drawable-hdpi/icon4.png"class="icon-img"/></i>店铺详情
	</li>
	</div>
</ul>
	<ion-nav-view>
	</ion-nav-view>	
<!--header e-->
	 <div class="tabs row-no-padding noborder store-index-footer"ng-if="storeTabs">
	    <a href=""class="button button-clear tab-item bg-grey c-black"ui-sref="pinpai-feileig">宝贝分类</a>
	    <a href=""class="button button-dark tab-item bg-dark3 "ui-sref="aboutStore">店铺介绍</a>
	    <a href=""class="button button-assertive tab-item bg-red">联系卖家</a>
	</div>
</ion-view>