<ion-view>
	 <ion-content class="has-header"scroll="false">    
 		<div class="flex text-center ord-title">
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==0}">默认排序</span>
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==1}">热销</span>
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==1}">新品</span>
			<span class="ord-price"ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==2}">价格
				<div class="updown"ng-click="pricClick($event)">
					<i  class="icon ion-ios-arrow-up picup" ng-class="{'c-black':soft=='desc'&ordtype==2}"></i>
					<i  class="icon ion-ios-arrow-down picdown"ng-class="{'c-black':soft=='asc'&ordtype==2}"></i>
				</div>
			</span>
		</div>
		<ion-content style="top:2.55rem"class="bg-grey">		
		<ul class="list-goods flex bg-grey">
            <li class="goods bg-white
            	"ng-repeat="goods in goodsList"ng-click="getDetail(goods)"ui-sref="detail({goodsId:goods.goodsId})">
                <div class="goods-img">
                    <img ng-src="{{goods_img+goods.goodsImage}}">
                </div>
                <h5 class="goods-title padding-v esp">{{goods.goodsName}}</h5>
                <div class="goods-price c-red fs-prim padding-v">¥ {{goods.price}}</div>
             </li>
        </ul>
		</ion-content>
    </ion-content>
</ion-view>