<ion-view title="新增收回地址">
	<div class="bar bar-header noborder bar-dark ">
        <a class="button button-icon ion-ios-arrow-left padding c-while back-button "ng-click="goBack()"></a>
        <h3 class="title">新增收货地址</h3>
    </div>
    <ion-content class="has-header"ng-controller="AddItCtrl">
    <form name="resert_form"id="addit" novalidate
		  ng-submit="putIt()">
		  <ul class="list list-inset fs-min nomargin-h">
			<li class="item item-input borderb">
				收货人姓名
				<input type="text" placeholder="请输入收货人姓名"name="nicheng" ng-model="nicheng"/>
			</li>
			<li class="item item-input noborder-v">
				 联系电话
				<input type="tel"ng-model="phone"placeholder="请输入联系电话"/>
			</li>
			<li class="item item-input noborder-v nopadding-h">
				<ionic-city-picker options='vm.CityPickData2'style="width: 100%;"ng-class="itIs"></ionic-city-picker>
			</li>
			<li class="item item-input noborder-v">
				 详细地址
				<input type="text" ng-model="dizhi"placeholder="请输入详细地址"/>
			</li>
		    <li class="item item-checkbox checkbox-dark item-checkbox-right noborder-v">
					<label for="" class="checkbox full">
						<input type="checkbox" ng-checked="false" ng-model="isdef"/>
					</label>
					设为常用地址					
			</li>
			</ul>
			<div class="padding">
				<div class="padding-v">
					<div class="padding-v">
					<button class="button button-block button-dark"ng-submit="putIt()">保存</button>
					</div>
				</div>
			</div>			
	</form>
    </ion-content>
	
</ion-view>