<ion-view title="商品评价"> 
	<div class="bar bar-header noborder bar-dark ">
        <button class="button button-icon ion-ios-arrow-left padding c-while back-button "ng-click="goBack()"></button>
        <h3 class="title">商品评价</h3>
    </div>
    <ion-content class="has-header bg-grey">
    	<section>
    		<div class="item borderb nomargin">对商品的评价</div>
    		<div class="item item-thumbnail-left order-goods borderb nomargin item-text-wrap "ng-repeat="order in orders">
	        	
	        		<img ng-src="{{goods_img+order.goodsImage}}"class="img-a">
	        	        
	            <div class="order-goods-info">
		            <h3 class="text-left goods-name esp"ng-bind="order.goodsName"></h3>
		            <p class="c-tip text-left esp1"style="height: 1rem;"><span class="order-goods-color fs-prim"ng-bind="order.specInfo"></span><span class="order-goods-size fs-prim"></span></p>
		            <button class="button button-dark btn-ai fr dis1"ng-click="show($event,order)"ng-bind="order.isEvaluate==0?'去评价':'已评价'"ng-disabled="order.isEvaluate!=0"></button>
	            </div>
        	</div>
    	</section>
    	<section>
    		<div class="item borderb">对店铺的评价</div>
    		<ul class="list margin-t">
    			<li class="item noborder"><span>商品质量</span>
    				<span class="fr">
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type1ind<1]"ng-click="strIt(1,1)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type1ind<2]"ng-click="strIt(1,2)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type1ind<3]"ng-click="strIt(1,3)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type1ind<4]"ng-click="strIt(1,4)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type1ind<5]"ng-click="strIt(1,5)"></i>
    				</span>
    			</li>
    			<li class="item noborder"style="padding-top: 0;"><span>服务态度</span>
    				<span class="fr">
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type2ind<1]"ng-click="strIt(2,1)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type2ind<2]"ng-click="strIt(2,2)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type2ind<3]"ng-click="strIt(2,3)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type2ind<4]"ng-click="strIt(2,4)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type2ind<5]"ng-click="strIt(2,5)"></i>
    				</span>
    			</li>
    			<li class="item noborder"style="padding-top: 0;"><span>发货速度</span>
    				<span class="fr">
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type3ind<1]"ng-click="strIt(3,1)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type3ind<2]"ng-click="strIt(3,2)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type3ind<3]"ng-click="strIt(3,3)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type3ind<4]"ng-click="strIt(3,4)"></i>
    					<i class="cion  c-red fs-icon"ng-class="{true:'ion-android-star-outline',false:'ion-android-star'}[type3ind<5]"ng-click="strIt(3,5)"></i>
    				</span>
    			</li>
    		</ul>
    	</section>   
    	<div style="padding: 1rem 2rem;">
    		<button class="button button-block main-nav button-dark"ng-click="pingStar()">发表评价</button>
    	</div>
<script id="pingjia.html" type="text/ng-template">
<ion-popover-view class="hs"style="">
  <h4 class="padding-v text-center">对商品的评价</h4>
  <form id="jibie">
    <div class="padding">
		<textarea name="pinglun"ng-model="taitou"rows="3" placeholder="对商品有什么心得，可以写这里哦"class="border-dark3 radiuss padding fs-tip"style="width: 100%;"></textarea>
	</div>
    <div class="flex-cen fapiaotype">   
    <label class="radioIt">      
	            <input type="radio"name="ping"value="1">
	            <span class="icon ion-ios-circle-outline fs-rem"></span>
	            <span class="icon ion-ios-checkmark fs-rem"></span>
	            <span>好评</span>  
	</label>
	<label class="radioIt">      
	            <input type="radio"name="ping"value="0">
	            <span class="icon ion-ios-circle-outline fs-rem"></span>
	            <span class="icon ion-ios-checkmark fs-rem"></span>
	            <span>中评</span>  
	</label>
	<label class="radioIt">      
	            <input type="radio"name="ping"value="-1">
	            <span class="icon ion-ios-circle-outline fs-rem"></span>
	            <span class="icon ion-ios-checkmark fs-rem"></span>
	            <span>差评</span>  
	</label>
	</div>
	<div class="flex-cen noborder">
		<span style="width: 3rem;"><button class="button button-block button-small button-dark c-while noborder"ng-click="sure()"style="margin: 0;">确认评价</button></span>
		<span style="width: 3rem;"><button class="button button-block button-small button-dark c-while noborder"ng-click="cancle()"style="margin: 0;">取消评价</button></span>
	</div>
	</form>
  </ion-content>
</ion-popover-view>
</script> 
</ion-content>
</ion-view>