<ion-view title="帮助中心"> 
	<div class="bar bar-header noborder bar-dark ">
        <a class="button button-icon ion-ios-arrow-left padding c-while back-button "ng-click="goBack()"></a>
        <h3 class="title">帮助中心</h3>
    </div>
    <ion-content class="has-header bg-grey">
    	<ul class="list bg-white">
    		<li class="item item-icon-right"ui-sref="helpnew">
    			<span class="fs-prim">新手帮助</span><i class="icon ion-ios-arrow-right"></i>
    		</li>
    		<li class="item item-icon-right"ui-sref="helppay">
    			<span class="fs-prim">付款方式</span><i class="icon ion-ios-arrow-right"></i>
    		</li>
    		<li class="item item-icon-right"ui-sref="helpsend">
    			<span class="fs-prim">配送条款</span><i class="icon ion-ios-arrow-right"></i>
    		</li>
    	</ul>
    </ion-content>
</ion-view>