<ion-view title="我的足迹"> 
	<div class="bar bar-header noborder bar-dark ">
        <a class="button button-icon ion-ios-arrow-left padding c-while back-button "ng-click="goBack()"></a>
        <h3 class="title">我的足迹</h3>
        <button class="button button-icon  icon-right"ng-click="clearIt()"><img src="img/切图/足迹/drawable-hdpi/deleteicon.png"class="icon-img"/></button>
    </div>
    <ion-content class="has-header bg-grey">
    	<div class="list-goods flex ">
                <div class="goods"ng-repeat="goods in goodsHistory"ui-sref="detail({goodsId:goods.goodsId})">
                    <div class="goods-img "style="position: relative;">
                    	<span><img src="img/切图/public/drawable-hdpi/newtag.png"ng-if="goods.newGood"class="goodnew"/></span>
                        <img ng-src="{{goods_img+goods.goodsImage}}">
                        <span><img src="img/切图/public/drawable-hdpi/hot.png"ng-if="goods.hotGood"class="goodhot"/></span>
                    </div>
                    <h5 class="goods-title padding-v esp">{{goods.goodsName}}</h5>
                    <div class="c-red fs-prim padding-v">¥{{goods.price}}</div>
                </div>
        </div>    	
    </ion-content>
     <span class="toTop icon ion-android-arrow-up"ng-click="scrollTop()"style="bottom:1rem;"></span>
</ion-view>