<ion-view title="我的订单">
<div class="bar bar-header bar-dark">
    <a class="button button-icon ion-ios-arrow-left padding c-while back-button fs-icon"ng-click="goBack()"></a>
    <h3 class="title">我的订单</h3>
</div>
<!--header e-->
<ion-content class=" has-header c-most detail"scroll="false">
    <div class="flex text-center ord-title">
        <span ng-click="ordByIt(0)"ng-class="{'ordactive':ordtype==0}">全部</span>
        <span ng-click="ordByIt(1)"ng-class="{'ordactive':ordtype==1}">待付款</span>
        <span ng-click="ordByIt(2)"ng-class="{'ordactive':ordtype==2}">待发货</span>
        <span ng-click="ordByIt(3)"ng-class="{'ordactive':ordtype==3}">待收货</span>
        <span ng-click="ordByIt(4)"ng-class="{'ordactive':ordtype==4}">待评价</span>
    </div>
    <ion-content style="margin-top: 2.4rem;"class="bg-grey myorder">
    <ion-list>
        <div class="padding-v bg-white marginb"ng-repeat="orderIt in ordersIt track by $index"ng-class="{'nomargin':$last}"ng-click="goIt(orderIt,1)">
            <div class="item item-icon-right padding-h borderb myorder-title">
                <img src="img/切图/P6-1我的订单/drawable-hdpi/shop.png"class="icon-img fl"style="margin-right: 0.25rem;margin-top:0.1rem;">
                <h3><span ng-bind="orderIt.storeName"></span>
                	<span class="fr c-tip fs-tip"ng-bind="orderIt.orderState"></span>
                </h3>
            </div>
            <div class=" fs-prim myorder-content">
                <p><span>订单号：</span><span ng-bind="orderIt.orderSn"></span> <button class="button button-dark btn-ai fr" ng-if="orderIt.orderState=='待评价'"ng-click="$event.stopPropagation();goIt(orderIt,0)">去评价</button></p>
                <p>订单金额：<span class="c-red">¥<span ng-bind="orderIt.orderAmount"></span></span></p>
                <p>下单时间：<span ng-bind="orderIt.addTime*1000|date : 'yyyy-MM-dd HH:mm:ss'"></span></p>
                <div class="myorder-img">
                    <img ng-src="{{goods_img+ordItimg}}"ng-repeat="ordItimg in orderIt.listGoodsImg track by $index">
                    <i class="icon ion-ios-arrow-right fr"></i>
                </div>
            </div>
        </div>
    </ion-list>
<ion-infinite-scroll
	ng-if="!more"
	immediate-check="false"
    on-infinite="loadMoreData()">
</ion-infinite-scroll>
    </ion-content>
</ion-content>
</ion-view>