<ion-view title="设置">
	<div class="bar bar-header noborder bar-dark">
        <a class="button button-icon ion-ios-arrow-left padding c-while back-button "ng-click="goBack()"></a>
        <h3 class="title">设置</h3>
    </div>
	<ion-content class="has-header c-most bg-grey">
	<div class="bg-white">
    <div class="margin-v2 ">
        <div class="item borderb nopadding-v nomargin fs-13 c-dark6"ui-sref="yijian">
            <i class="icon"><img src="img\切图\P6-7设置\drawable-hdpi\icon1.png"class="icon-img"></i>
            	意见反馈
            <i class="icon icon-right ion-ios-arrow-right fr"></i>
        </div>
        <div class="item borderb nopadding-v nomargin fs-13 c-dark6"ui-sref="about">
            <i class="icon"><img src="img\切图\P6-7设置\drawable-hdpi\icon2.png"class="icon-img"></i>
            	关于依恋
            <i class="icon icon-right ion-ios-arrow-right fr"></i>
        </div>
        <div class="item borderb nopadding-v nomargin fs-13 c-dark6"ui-sref="helps">
            <i class="icon"><img src="img\切图\P6-7设置\drawable-hdpi\icon3.png"class="icon-img"></i>
            	帮助中心
            <i class="icon icon-right ion-ios-arrow-right fr"></i>
        </div>
        <div class="item borderb nopadding-v nomargin fs-13 c-dark6">
            <i class="icon"><img src="img\切图\P6-7设置\drawable-hdpi\icon4.png"class="icon-img"></i>
            	版本更新
            <i class="icon icon-right ion-ios-arrow-right fr"></i>
        </div>
        <div class="item borderb nopadding-v nomargin fs-13 c-dark6"ui-sref="resertPass">
            <i class="icon"><img src="img\切图\P6-7设置\drawable-hdpi\icon5.png"class="icon-img"></i>
            	修改密码
            <i class="icon icon-right ion-ios-arrow-right fr"></i>
        </div>
    </div>   
	</div>
	<div class="padding text-center">
    	<span style="width: 50%;display: inline-block;"><button class="button button-block button-dark"ng-click="exitIt()">退出当前账号</button></span>
    </div>
</ion-content>
</ion-view>
