<ion-view title="商品详情"class="detail">
<!--header e-->
<div class="bar bar-header icon-right bar-dark">
        <button class="button button-icon ion-ios-arrow-back c-while"ng-click="goBack()"></button>
        <h3 class="title">商品详情</h3>
</div>
<ion-content class="has-tabs has-header bg-grey">	
	<section class="detail-top positr">		
	<ion-slide-box show-pager="false" ng-if="good.goodsImageList" on-slide-changed="slideHasChanged($index)"class="slidebox"  auto-play="true" slide-interval="4000">
	            <ion-slide ng-repeat="banner in good.goodsImageList">
	                <img ng-src="{{goods_img+banner}}">				 
	            </ion-slide>              
	</ion-slide-box>
	<!--slide-box ed-->
	<i class="goods-shoucang  button-icon fs-icon"ng-class="{true: 'ion-android-favorite', false: 'ion-android-favorite-outline'}[good.isCollect==1]"ng-click="collectionIt(good.isCollect)"style="z-index: 10;color: #ff2b26;"></i>
	</section>
    <section class="padding bg-white goodIt-info"ng-class="{'new':good.newGood==1}">
        <h4 class="nomargin"ng-bind="good.goodsName"></h4>
        <p class="c-red nomargin fs-prim"><span class="prid">¥{{good.price}}</span>
        	<span class="good_xianshi"ng-if="good.xianshiGood==1">限时抢购</span>
        	<i class="icon ion-android-share-alt"style="margin-left: 1rem;color: #000;font-size: 1rem;"></i>
        </p>
        <div class="yishou c-tip fs-tip">已售：{{good.saleNum}}份</div>
    </section>
    <div class="item item-icon-right store bg-white assess-title"ui-sref="store({storeId:good.storeId})">
        <img ng-src="img/切图/P3-2商品详情/drawable-hdpi/homeicon.png"class="fl">
        <h3 class="padding-v c-while"ng-bind="good.storeName"></h3>
        <i class="icon ion-ios-arrow-right c-while"></i>
    </div>
    <!-- 抵用券-->
    <section class="quanlist">
      <!-- <div class="scrolx"style="overflow-x: scroll;">-->
        	<div class="clearfix"style="overflow: scroll;">
        		<div class="quanwrap fl"ng-repeat="quanq in quans">
        			<div class="quan clearfix"ng-class="{'quan2':quanq.isGet!='0'}">
		                <div class="quan-l text-center fl">
		                    <div class="c-while money">¥ <span class="price"ng-bind="quanq.couponPrice"></span></div>
		                    <div class="fs-prim esp goods-title"ng-bind="quanq.couponTitle"></div>
		                </div>		         
		                <div class="quan-r text-center posit">
		                    <button class="getQuan button-small button"ng-class="{'button-outline dis1':quanq.isGet!='0'}"ng-click="lingqu(quanq.couponId,quanq.isGet=='0')">
		                        	<span ng-if="quanq.isGet=='0'">领取</span><span ng-if="quanq.isGet!='0'">已领取</span>
		                    </button>
		                    <h3 class="c-while quanStore fs-most moreit"ng-bind="quanq.storeName"></h3>
		                    <div class="fs-tip c-while">{{quanq.couponStartDate}}-{{quanq.couponEndDate}}</div>
		                    <span class="fr fs-tip c-while"ng-if="quanq.isGet=='0'">剩余{{quanq.couponSurplus}}张</span>
		                    <span class="fr fs-tip c-while"ng-if="quanq.isGet!='0'">去使用>></span>
		                </div>
		            </div> 
		        </div>   
        	</div>
        	<!--</div>-->
    </section>
    <section class="assesslist bg-white">
        <div class="item item-icon-right assess-title bg-white"style="margin-bottom: 1px;"ui-sref="pingjia">
            <img ng-src="img/切图/P3-2商品详情/drawable-hdpi/pinglun.png"class="fl">
            <h3 class="padding-v">用户评论(<span class="rated-h"ng-bind="pinglun.count"></span>)</h3>
            <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="assess noborder">
        <div class="card"ng-if="pinglun.detail[0]">
            <div class="item item-avatar item-icon-right margin-v noborder">
                <img ng-src="{{touxiang_img+pinglun.detail[0].memberAvatar}}" />
                <h2 ng-bind="pinglun.detail[0].memberName"style="font-size: 0.7rem;"></h2>
                <p ng-bind="pinglun.detail[0].gevaldetailTime"></p>
                <div class="cardr">
                    <i class="icon"ng-if="pinglun.detail[0].gevalstatLevel==1"><img ng-src="img/切图/P3-2商品详情/drawable-hdpi/great.png" class="icon-img"><span class="fs-prim rated-h">好评</span></i>
                    <i class="icon"ng-if="pinglun.detail[0].gevalstatLevel==0"><img ng-src="img/切图/P3-2商品详情/drawable-hdpi/soso.png" class="icon-img"><span class="fs-prim rated-m">中评</span></i>
                    <i class="icon"ng-if="pinglun.detail[0].gevalstatLevel==-1"><img ng-src="img/切图/P3-2商品详情/drawable-hdpi/notgood.png" class="icon-img"><span class="fs-prim rated-low">差评</span></i>
                </div>
            </div>
            <div class="margin-v borderb noborder c-tip fs-prim "ng-bind="pinglun.detail[0].content"style="padding-bottom: 0.25rem;"></div>
        </div>
        </div>
        <div class="item item-divider noborder text-center fs-tip bg-white c-tip"ui-sref="pingjia">
           	 查看全部评价 >>
        </div>
    </section>
    <section class="sameStore">    	
        <div class="item item-icon-right assess-title bg-white">
            <img src="img/切图/P3-2商品详情/drawable-hdpi/shangpin-icon.png"class="fl">
            <h3 class="padding-v">同类商品</h3>
        </div>
        <div class="scrolx"style="overflow-x: scroll;">
        <div class="list flex samelist">
            <div class="goods samegoods bg-white"ng-repeat="goods in samefoods"ui-sref="detail({goodsId:goods.goodsId})">
                <div class="goods-img">
                    <img ng-src="{{goods_img+goods.goodsImage}}">
                </div>
                <h4 class="goods-name fs-min esp"ng-bind="goods.goodsName"style="margin:0.25rem;"></h4>
                <div class="c-red fs-prim text-center">¥{{goods.goodsStorePrice}}</div>
            </div>
        </div>
        </div>
        <div class="item item-divider noborder text-center fs-tip bg-white c-tip">
            继续拖动，查看图文详情 >>
        </div>        
    </section>
</ion-content>
<!--ion-content ed-->
    <div class="tabs tabs-icon-top row row-no-padding">
            <a href=""class="tab-item col">
            	<i><img src="img/切图/P3-2商品详情/drawable-hdpi/dianpu.png"class="icon-img"/></i>
            	<p >客服</p>
            </a>
            <a class="tab-item col"ui-sref="store({storeId:good.storeId})"><i><img src="img/切图/P3-2商品详情/drawable-hdpi/dianpu.png"class="icon-img"/></i>店铺</a>
            <a class="tab-item col"ui-sref="tab.shopCart"><i><img src="img/切图/P3-2商品详情/drawable-hdpi/gouwuche.png"class="icon-img"/></i>购物车</a>
        	<div class="col col-50 tab-item">
            <button class="button button-balanced button-small"style="width: 45%;height: 100%;">立即购买</button><button class=" button button-assertive button-small"style="width: 55%;height: 100%;">加入购物车</button>
       		 </div>
    </div>	
    
<!--<script id="top_slide_modal.html" type="text/ng-template">  
<ion-modal-view style="height: {{win_H}}px;bottom: 0;position: fixed;" class="scale-in">  
<ion-slide-box delegate-handle="modal_slide" style="height: {{win_H}}px;z-index: 10; background-color: black;">  
<ion-slide ng-repeat="img in img_data" ng-click="close_modal()">  
<ion-scroll overflow-scroll='false' zooming="true" direction="xy" min-zoom="1" max-zoom="4" style="height: {{win_H}}px;width:{{win_W}}px;">  
 	<img src="img/切图/P3-2商品详情/drawable-hdpi/banner1.png"class="top_slide_img"ng-click="open_modal($index)">              	<i class="shoucang  button-icon ion-android-favorite-outline fs-icon c-dark6"shoucang="false"ng-click="collectionIt($event,goods,0)"></i> 
</ion-scroll>  
</ion-slide>  
</ion-slide-box>  
</ion-modal-view>  
</script>  -->

<!--ion-content ed-->
</ion-view>
