<ion-view title="消息中心">
	<!--header s-->
    <div class="bar bar-header icon-right bar-dark">
        <button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"> </button>
        <h3 class="title">消息中心</h3>
    </div>
<!--header e-->
    <ion-content class="has-header">
       <div class="item item-icon-right item-divider"style="background-color: #9CC3B8;"ng-repeat="info in infos"ui-sref="infoDetail({infotype:info.className})">
       	<span ng-bind="info.className"class="fs-min"></span>
       	<i class="icon ion-ios-arrow-right"></i>
       </div>
    </ion-content>
</ion-view>