<ion-view title="限时抢购">
	<!--header s-->
    <div class="bar bar-header icon-right bar-dark">
        <button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"> </button>
        <h3 class="title">限时抢购</h3>
    </div>
<!--header e-->
    <ion-content class="has-header c-most">
    <section>
    <ion-slide-box>
        <ion-slide>
            <img src="img\切图\P2首页\drawable-hdpi\tipian.png">
        </ion-slide>
        <ion-slide>
            <img src="img\切图\P2首页\drawable-hdpi\tipian.png">
        </ion-slide>
        <ion-slide>
            <img src="img\切图\P2首页\drawable-hdpi\tipian.png">
        </ion-slide>
    </ion-slide-box>
    </section>
    <section class="limit-list">
        <div class="row row-no-padding">
            <div class="col col-33">
                <img src="img/切图/P8限时抢购/drawable-hdpi/img.png"class="limit-list-img">
                <img src="img/切图/P8限时抢购/drawable-hdpi/qianggouzhong.png"class="limit-list-imgbg">
                <div class="limit-list-goodswrap">
                	<div class="limit-list-goods c-while text-center ">520专场</div>
                </div>
            </div>
            <div class="col col-33">
                <img src="img/切图/P8限时抢购/drawable-hdpi/img.png" class="limit-list-img">
                <img src="img/切图/P8限时抢购/drawable-hdpi/jijiangkaishi-.png"class="limit-list-imgbg">
                <div class="limit-list-goodswrap">
                	<div class="limit-list-goods c-while text-center ">520专场</div>
                </div>
            </div>
            <div class="col col-33">
                <img src="img/切图/P8限时抢购/drawable-hdpi/img.png" class="limit-list-img">
                <img src="img/切图/P8限时抢购/drawable-hdpi/jijiangkaishi-.png"class="limit-list-imgbg">
                <div class="limit-list-goodswrap">
                	<div class="limit-list-goods c-while text-center ">520专场</div>
                </div>
            </div>
        </div>
        <div class="item item-divider noborder text-left fs-prim"id="xianshi{{goods.xianshiId}}"">
              	  距离本场结束：
                <strong class="shi bg-time c-while hour_show">0</strong>
                :
                <strong class="shi bg-time c-while minute_show">0</strong>
                :
                <strong class="shi bg-time c-while second_show">0</strong>
        </div>
        <div class="padding-h bg-white limit-list-goods-info borderb-dark">
            <span class="goods-nostart c-while">即将开始</span>
                <div class="item item-image noborder item-text-wrap">
                    <span class="limit-list-goods-img fl">
                        <img src="img/切图/P8限时抢购/drawable-hdpi/tupian.png">
                    </span>
                    <h3 class="text-left">防撒旦法撒防守打法司法阿法撒打法司法</h3>
                    <p class="text-left"><spqn class="fs-tip c-red fl">￥240</spqn>&nbsp;&nbsp; <span><del class="c-black fs-tip">￥400</del></span></p>
                    <div class="fs-tip c-dark6 text-left limit-numed">已抢169件</div>
                    <hr>
                    <div class="padding-h fs-tip text-left">
                        <span class="rated-h">剩余104件</span>
                        <button class="button button-small bg-black c-while fr nowrob">马上抢</button>
                    </div>
                </div>
        </div>
        <div class="padding-h bg-white limit-list-goods-info borderb-dark nostart">
            <span class="goods-nostart c-while">即将开始</span>
            <div class="item item-image noborder item-text-wrap">
                    <span class="limit-list-goods-img fl">
                        <img src="img/切图/P8限时抢购/drawable-hdpi/tupian.png">
                    </span>
                <h3 class="text-left">防撒旦法撒防守打法司法阿法撒打法司法</h3>
                <p class="text-left"><spqn class="fs-tip c-red fl">￥240</spqn>&nbsp;&nbsp; <span><del class="c-black fs-tip">￥400</del></span></p>
                <div class="fs-tip c-dark6 text-left limit-numed">已抢169件</div>
                <hr>
                <div class="padding-h fs-tip text-left">
                    <span class="rated-h">剩余104件</span>
                    <button class="button button-small bg-black c-while fr nowrob">马上抢</button>
                </div>
            </div>
        </div>
    </section>
</ion-content>
</ion-view>