<ion-view title="热销推荐">
	<div class="bar bar-header bar-dark"> 
    		<button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"> </button>
        	<h3 class="title">热销推荐</h3>
        	<buttton class="button button-icon button-icon-right ion-ios-cart-outline"></buttton>
    </div>
    <ion-content class="has-header"scroll="false">    
 		<div class="flex text-center ord-title">
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==0}">默认排序</span>
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==1}">热销</span>
			<span class="ord-price"ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==2}">价格
				<div class="updown"ng-click="pricClick($event)">
					<i  class="icon ion-ios-arrow-up picup" ng-class="{'c-black':soft=='desc'&&ordtype==2}"></i>
					<i  class="icon ion-ios-arrow-down picdown"ng-class="{'c-black':soft=='asc'&&ordtype==2}"></i>
				</div>
			</span>
		</div>
		<ion-content style="top:2.55rem"class="bg-grey">		
		<ul class="list-goods flex bg-grey">
            <li class="goods bg-white
            	"ng-repeat="goods in goodsList"ng-click="getDetail(goods)"ui-sref="detail({goodsId:goods.goodsId})">
                <div class="goods-img">
                    <img ng-src="{{goods_img+goods.goodsImage}}">
                </div>
                <h5 class="goods-title padding-v esp">{{goods.goodsName}}</h5>
                <div class="goods-price c-red fs-prim padding-v">¥ {{goods.price}}</div>
             </li>
        </ul>
		</ion-content>
    </ion-content>
     <span class="toTop icon ion-eye"ui-sref="myhistory"style="bottom:3rem;"></span>
    <span class="toTop icon ion-android-arrow-up"ng-click="scrollTop()"style="bottom:1rem;"></span>
</ion-view>
