<ion-view title="热销推荐">
	<div class="bar bar-header bar-dark"> 
    		<button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"> </button>
        	<h3 class="title">热销推荐</h3>
        	<buttton class="button button-icon button-icon-right ion-ios-cart-outline"></buttton>
    </div>
    <ion-content class="has-header"scroll="false">    
 		<div class="flex text-center ord-title">
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==0}">默认排序</span>
			<span ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==1}">热销</span>
			<span class="ord-price"ng-click="ordByIt($event)"ng-class="{'ordactive':ordtype==2}">价格
				<div class="updown"ng-click="pricClick($event)">
					<i  class="icon ion-ios-arrow-up picup" ng-class="{'c-black':soft=='desc'}"></i>
					<i  class="icon ion-ios-arrow-down picdown"ng-class="{'c-black':soft=='asc'}"></i>
				</div>
			</span>
		</div>
		<ion-content style="top:2.55rem">
		<ul class="list-goods flex">	
			<li class="goods bg-white padding"ng-repeat="goods in goodsList">	
				<div class="goods-img">
					<img ng-src="{{goods_img+goods.goodsImage}}">
				</div>
				<h5 class="goods-title fs-prim">{{goods.goodsName}}</h5>
				<span class="goods-price c-red fs-prim">¥{{ goods.price}}</span>					
			</li>
		</ul>
		</ion-content>
    </ion-content>
</ion-view>
