<ion-view>
	<div class="bar bar-header item-input-inset bg-black fs-most header">
			<a class="button button-icon ion-ios-arrow-left c-while back-button fs-icon"ng-click="goBack()"></a>
			<div class="item-input-wrapper bg-transparent header-inp text-center">
    			<i class="icon ion-ios-search placeholder-icon c-while fs-icon fs-b search"ui-sref="search.result({keywords:search.text})"></i>
    			<input type="search" placeholder="搜索商品或品牌"class="c-while search-shop"ng-model="search.text"autofocus="autofocus">  
    			<i class="icon ion-ios-close-outline icon-right c-while fs-b fs-icon"ng-show="search.text?true:false"ng-click="search.text=''"></i>
  			</div> 			
			<button class="button-clear c-while"ui-sref="search.result({keywords:search.text})">搜索</button>
	</div>
		<!--header e-->	
	<ion-nav-view>
	</ion-nav-view>	
</ion-view>