<ion-view title="搜索首页">	
	<form name="search_form"id="searchIt" novalidate>
	<div class="bar bar-header item-input-inset bg-black fs-most header">
			<a class="button button-icon ion-ios-arrow-left c-while back-button fs-icon"ng-click="goBack()"></a>
			
			<div class="item-input-wrapper bg-transparent header-inp text-center">
    			<i class="icon ion-ios-search placeholder-icon c-while fs-icon fs-b search"ui-sref="search.result({keywords:search.text})"></i>
    			<input type="search" placeholder="搜索商品或品牌"class="c-while search-shop"ng-model="search.text"autofocus="autofocus">
    			<i class="icon ion-ios-close-outline icon-right c-while fs-b fs-prim"ng-show="search.text"ng-click="search.text='';"></i>
  			</div> 			
			<button class="button-clear c-while"ui-sref="searchResult({keywords:search.text})">搜索</button>			
	</div>
	</form>
    <ion-content class="bg-grey has-header">
     <div class="index">
		<div class="list-result bg-grey">
		<div class="item item-divider bg-white result-item-divider noborder">热门搜索</div>
		<div class="xian"><hr width="80%"/></div>
		<div class="key bg-white padding">
			<a class="btn-key"ng-repeat="keyIt in keysIt track by $index"ng-bind="keyIt"ui-sref="searchResult({keywords:keyIt})"></a>
		</div>
		</div>
		<div class="list-history bg-grey ">
		<div class="item item-divider bg-white result-item-divider noborder">历史搜索记录</div>
		<div class="xian"><hr width="80%"/></div>
		<div class="item history">双肩包</div>
		<div class="item history">流苏裙</div>
		</div>
		<div class="text-center clracrHistory"><button class="button btn-outline">清除历史搜索</button></div>
		</div>
    </ion-content>
</ion-view>
