<ion-view title="搜索首页">		
    <ion-content class="bg-grey">
     <div class="index">
		<div class="list-result bg-grey">
		<div class="item item-divider bg-white result-item-divider noborder">热门搜索</div>
		<div class="xian"><hr width="80%"/></div>
		<div class="key bg-white padding">
			<a class="btn-key"ng-repeat="keyIt in keysIt track by $index"ng-bind="keyIt"ui-sref="search.result({keywords:keyIt})"></a>
		</div>
		</div>
		<div class="list-history bg-grey ">
		<div class="item item-divider bg-white result-item-divider noborder">历史搜索记录</div>
		<div class="xian"><hr width="80%"/></div>
		<div class="item history">双肩包</div>
		<div class="item history">流苏裙</div>
		</div>
		<div class="text-center clracrHistory"><button class="button btn-outline">清除历史搜索</button></div>
		</div>
    </ion-content>
</ion-view>
