<ion-view>
	<div class="bar bar-header item-input-inset bg-black fs-most header bgs0">
    <button class="button button-icon ion-ios-arrow-left c-while"ng-click="goBack()"></button>
    <label class="item-input-wrapper bg-transparent header-inp text-center">
        <a class="icon ion-ios-search placeholder-icon c-while fs-icon fs-b search"></a>
        <input type="search" placeholder="搜索商品或品牌"class="c-while text-center search-shop"ui-sref="search.index"ng-class="{'hide':isTo}>
        <input type="search" placeholder="搜索商品或品牌"class="c-while text-center search-shop"ng-class="{'hide':!isTo}">
    </label>
    <button class="button button-icon"ui-sref="info"><img src="img\切图\P2首页\drawable-hdpi\mess.png" class="icon-img-nav"></button>
</div>
<ion-nav-view>
	
</ion-nav-view>
</ion-view>
