.bgIt{font-family:roboto, \65B9\6B63\5170\4EAD\7EA4\9ED1\7B80\4F53, \5FAE\8F6F\96C5\9ED1, "微软雅黑", Helvetica, Arial, sans-serif;
    background:url(../img/切图/P7登录/drawable-hdpi/bg.png) no-repeat left top;background-size:100% auto;}
a{text-decoration: none;}
a:hover{color:#48abb5;}
.r{float:right;}
.l{float:left;}
.bar{background-size: 100% 0;}
.bar.bar-header.bar-stable{background-color: transparent;border-bottom: none !important;}
.button-icon{font-size: 25px;color:#fff;padding:5px 8px;}
.content{padding-top: 50px;padding-left: 5%;padding-right: 5%;}
.dl{background-color: transparent;border-top: none;border-left: none;border-right: none;height:50px;margin-top: 20px;border-bottom: 1px solid #b6b7b7;}
.dl .icon{height:22px;width: 22px;}
.dl .icon img{height:100%;width: auto;}
.dl input{color: #fff;text-align: left;padding-left: 1rem;}
.dl input::-webkit-input-placeholder{font-size: 0.7rem;color:#fff;text-align: center;padding-right: 1rem;}
.dl_list .pMess{height:2.5rem;line-height: 2.5rem;margin-top:0.25rem;}
.dl_list .pMess .pull-right{color:#fff;font-size: 0.7rem;}
.button.button-royal1{height:1.5rem;line-height: 1.5rem;width: 5rem;color:#fff;border-radius: 1.5rem;background-color: #b3996b;border:1px solid #b3996b;}
.button.button-royal2{height:1.5rem;line-height: 1.5rem;width: 5rem;color:#fff;border-radius: 1.5rem;background-color:transparent;border:1px solid #b6b7b7;}
.dl_list .pTrh{height:3rem;line-height: 3rem;color:#fff;font-size: 0.7rem;margin-top:1.5rem;}
.dl_list .san{height:2.25rem;}
.dl_list .san img{height:100%;width: auto;}

/*我的关注*/
/*.wrap{padding:1rem;}
.banner{margin-top: 43px;}
.banner img{width:100%;height: auto;}
.section{padding-top: 5px;font-size: 0.7rem;color:#666;}
.section p{line-height: 25px;margin: 0;}*/
