html,
body {
  font-size: 20px;
}
del {
  color: #b5b5b5;
}
.c-most {
  color: #333333;
}
.c-red {
  color: #ff2b26;
}
.c-while {
  color: #ffffff;
}
.c-black {
  color: #000;
}
.c-dark6 {
  color: #666666;
}
.c-tip {
  color: #999999;
}
.rated-h {
  color: #B3996B;
}
.rated-m {
  color: #9CC3B8;
}
.rated-low {
  color: #ADADAD;
}
.song {
  font-family: "宋体";
}
.fs-puton {
  font-size: 0.8rem;
}
.fs-showmin {
  font-size: 12px;
}
.fs-rem {
  font-size: 1rem;
}
.fs-most {
  font-size: 1.1rem;
}
.fs-prim {
  font-size: 0.7rem;
}
.fs-icon {
  font-size: 1.2rem;
}
.fs-b {
  font-weight: 800;
}
.fs-tip {
  font-size: 0.55rem;
}
.fs-13 {
  font-size: 0.65rem;
}
.fs-min {
  font-size: 0.5rem;
}
.item-icon-right .icon {
  font-size: 0.9rem;
}
.fw-b {
  font-weight: bolder;
}
.body-bggrey {
  background-color: #F2F2F2;
}
.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #F2F2F2;
}
.bg-ord {
  background-color: #e0e0e0;
}
.bg-submit {
  background: #535454;
}
.bg-transparent {
  background-color: transparent;
}
.bar.bar-dark {
  background-color: #000;
}
.noborder-v {
  border-left: none;
  border-right: none;
}
.noborder {
  border: none;
}
.noshadow {
  box-shadow: none;
}
.nopadding {
  padding: 0;
}
.nopadding-v {
  padding-left: 0;
  padding-right: 0;
}
.nopadding-h {
  padding-top: 0 ;
  padding-bottom: 0;
}
.borderb-dark {
  border-bottom: 1px solid #303030;
}
.borderb {
  border: none;
  border-bottom: 1px solid #e7e7e7;
}
.borderb2 {
  border: none;
  border-bottom: 2px solid #666;
}
.border {
  border: 1px solid #e7e7e7;
}
.border-h {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.border-dark3 {
  border: 1px solid #333333;
}
.bar.bar-header.noborder,
.tabs.noxian {
  -webkit-background-size: 0 0;
  background-size: 0 0;
}
.tuikuanIt .item.item-input input,
.tuikuanIt .item.item-input textarea {
  padding: 1em;
  border: 1px solid #ccc;
  width: 100%;
  margin-right: 0.75rem;
}
.marginb {
  margin-bottom: 0.5rem;
}
.nomarginb {
  margin-bottom: 0;
}
.paddb {
  padding-bottom: 0.5rem;
}
.nomargin {
  margin: 0;
}
.nomargin-h {
  margin-bottom: 0;
  margin-top: 0;
}
.nomargin-v {
  margin-top: 0;
  margin-bottom: 0;
}
.margin-t {
  margin-top: 1px;
}
.margin-v {
  margin: 0 0.75rem;
}
.margin-v2 {
  margin: 0 0.5rem;
}
.margin-r {
  margin-right: 0.5rem;
}
.padding-v {
  padding: 0 0.75rem;
}
.padding-h {
  padding: 0.75rem 0;
}
.padding-hs {
  padding: 0.5rem 0;
}
.btn-outline {
  outline: none;
  border: 1px solid #aaaaaa;
}
.btn-key {
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.5rem;
  border-radius: 1.25rem;
  background-color: #f1f1f1;
  outline: none;
  display: inline-block;
  text-align: center;
  color: #666666;
  text-decoration: none;
}
.btn-small {
  width: 3.05rem;
}
.btn-mid {
  width: 4.05rem;
}
.btn-big {
  width: 6.55rem;
}
button.button.btn-ai {
  min-height: 1.2rem;
  height: 1.2rem;
  font-size: 0.6rem;
  line-height: 1.2rem;
}
.button.bg-grey {
  background-color: #f2f2f2;
}
.button.bg-dark3 {
  background-color: #333;
}
.button.bg-red {
  background-color: #ff2b26;
}
.button.c-black {
  color: #000;
}
.button.c-white {
  color: #fff;
}
.dis1.button.disabled,
.dis1.button[disabled] {
  opacity: 1;
}
.val-m {
  vertical-align: middle;
}
.right-cen {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
}
.close {
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
}
.button.active {
  background-color: #333;
  color: #fff;
}
.modal-backdrop-bg {
  opacity: 0.3;
  background: #000;
}
.modal-wrapper {
  height: 100%;
}
.tuwen {
  transition: all 0.6s;
}
.bgItc {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  z-index: 10;
  top: 0;
}
.kuang-caidan {
  width: 50%;
  position: absolute;
  margin: 0;
  z-index: 12;
  padding: 0 0.25rem;
  top: 43px;
  right: 0;
}
.kuang-caidan:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  right: 0.75rem;
  top: 1px;
  transform: translate(0, -100%);
  z-index: 11;
}
.kuang-caidan > div {
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.kuang-caidan li {
  line-height: 2rem;
  border-top: 1px solid #ccc;
  font-size: 0.7rem;
}
.kuang-caidan li:nth-child(1) {
  border: none;
}
.kuang-caidan .icon-img {
  margin-right: 0.5rem;
  vertical-align: middle;
}
img.img-v {
  width: 100%;
  height: auto;
  max-height: 100%;
}
img.img-h {
  height: 100%;
  width: auto;
  max-width: 100%;
}
img.img-a {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
img.img-f {
  width: 100%;
  height: 100%;
}
img.img-mr {
  margin-right: 0.25rem;
}
.goodnew {
  width: 30%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.goodhot {
  width: 1rem;
  height: auto;
  position: absolute;
  left: 0.5rem;
  bottom: 0;
}
ion-scroll .scroll,
.limitTime .scroll {
  height: 100%;
}
.car .scroll {
  height: 100%;
}
.allCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.noit textarea {
  resize: none;
}
.esp1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.esp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.slider-slides {
  overflow: hidden;
  min-height: 5rem;
}
.lunbo {
  height: 5rem;
}
.moreit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.banner-img {
  width: 100%;
  height: auto;
}
.shoucang {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
}
.icon-img {
  width: 0.75rem;
  height: auto;
  vertical-align: text-bottom;
}
.icon-img-nav {
  width: 1rem;
  height: auto;
  vertical-align: baseline;
}
.icon-img-big {
  width: 1.2rem;
  height: auto;
  vertical-align: middle;
}
ion-slide img {
  width: 100%;
  height: auto;
  line-height: 100%;
}
.flex {
  display: flex;
}
.flex-cen {
  display: flex;
  justify-content: space-around;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.notop {
  top: 0;
  z-index: 10;
}
.bgs0 {
  background-size: 100% 0;
}
.hide {
  display: none;
}
hr {
  margin: 0;
}
.positr {
  position: relative;
}
.posita {
  position: absolute;
}
.radius {
  border-radius: 1rem;
}
.radiuss {
  border-radius: 0.25rem;
}
.slider-pager {
  bottom: 0.6rem;
}
.slider-pager .slider-pager-page {
  font-size: 0.5rem;
  color: #fff;
}
.quanbans .slider-pager .slider-pager-page {
  color: #000;
}
.radioIt input {
  display: none;
}
.radioIt span.ion-ios-checkmark {
  display: none;
}
.radioIt input[type="radio"]:checked + span.ion-ios-circle-outline {
  display: none;
}
.radioIt input[type="radio"]:checked + span.ion-ios-circle-outline + span.ion-ios-checkmark {
  display: inline-block;
}
.checkbox input,
.checkbox-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: #000;
}
.checkbox input:after,
.checkbox-icon:after {
  width: 0.5rem;
  height: 0.25rem;
}
.myorder .item-checkbox .checkbox {
  margin-top: 0;
  transform: translate(0, -50%);
  width: 1.75rem;
}
#addit .item-checkbox .checkbox {
  margin-top: 0;
  transform: translate(0, -50%);
  width: 100%;
  left: inherit;
}
[nav-view-transition=ios][nav-view-direction=forward],
[nav-view-transition=ios][nav-view-direction=back] {
  background-color: transparent;
}
#resert input::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #666;
  padding-left: 2rem;
  font-size: 0.6rem;
}
.item-note {
  color: currentcolor;
}
.place .item-note {
  color: #aaa;
}
.changeIt .item-note {
  color: currentcolor;
}
.ionic-citypicker.noit .item-note:after {
  display: none;
}
#chargeAdd input::-webkit-input-placeholder {
  text-align: right;
  padding-right: 0;
}
#chargeAdd ul li {
  padding-left: 0;
}
#chargeAdd ul li > input {
  padding-right: 0;
  padding-left: 1rem;
  text-align: right;
}
#resert input {
  padding-left: 1rem;
}
#register input {
  padding-left: 0.5rem;
}
#register input::-webkit-input-placeholder {
  padding-left: 2rem;
  font-size: 12px;
  color: #999999;
}
.header-inp input::-webkit-input-placeholder {
  color: #535252;
  text-align: center;
}
.toTop {
  position: fixed;
  right: 0.75rem;
  bottom: 5.2rem;
  color: #fff;
  background-color: #a9aaab;
  height: 1.375rem;
  width: 1.35rem;
  line-height: 1.375rem;
  text-align: center;
  border-radius: 50%;
}
.index-footer .tabs {
  background-color: #fff;
}
ion-tabs.tabs-color-active-dark.index-footer .tab-item {
  color: inherit;
}
.main-nav img {
  height: 1.2rem;
  width: auto;
}
.header-inp {
  border-bottom: 1px solid #ffffff;
  margin: 5px;
  text-align: left;
}
.button-clear.c-while {
  color: #ffffff;
}
.header input {
  color: #FFF;
  text-align: left;
}
.item.tui-img {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4vw;
}
.item div.addImg {
  width: 23vw;
  height: 23vw;
  text-align: center;
  padding: 0.25rem;
}
.item.item-image .img-wrap.ord {
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
.item.item-image > img {
  width: 5rem;
  height: 5rem;
}
.item.item-image img.guige-img {
  width: 4rem;
  height: 4rem;
}
.item-right {
  margin-top: 1rem;
}
.img-wrap.ordcart {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  margin: 0.5rem;
}
.list-secect {
  height: 2.5rem;
  line-height: 2.5rem;
  background: url(../img/切图/P2-2-2搜索结果页/drawable-hdpi/tab-bg.png);
  position: relative;
  top: -1px;
}
.list-result,
.list-history {
  padding-top: 0.5rem;
}
.list-result .item-divider,
.list-history .item-divider {
  color: #333333;
}
.result-item-divider {
  padding-top: 1rem;
}
.xian {
  background-color: #fff;
  height: 3px;
  padding-left: 0.75rem;
}
.xian hr {
  border-color: #7d7d7d;
}
.key a.btn-key {
  padding: 0 0.5rem;
  margin: 0.25rem;
}
.clracrHistory {
  margin-top: 1rem;
}
.clracrHistory button {
  height: 2.15rem;
  width: 8.5rem;
}
.list-history .history {
  border: none;
  color: #666666;
}
.list-history .history:nth-child(2n) {
  border-top: 1px solid #e7e7e7;
}
ion-nav-view {
  background-color: transparent;
}
.pane {
  background-color: transparent;
}
.ord-title {
  color: #a9a9a9;
  background-color: #e0e0e0;
  font-size: 0.5rem;
}
.ord-title span {
  flex: 1;
  height: 2.5rem;
  float: left;
  line-height: 2.5rem;
}
.updown {
  position: absolute;
  display: inline-block;
  margin-left: 5px;
}
.picup {
  position: absolute;
  top: -0.25rem;
}
.picdown {
  position: absolute;
  top: 0.25rem;
}
.ordactive {
  color: #333;
  position: relative;
}
.ordactive .updown {
  color: #a9a9a9;
}
.ordactive:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 0);
}
.list-goods {
  flex-wrap: wrap;
}
.goodIt-info.new {
  background-image: url(../img/切图/P3-2商品详情/drawable-hdpi/newtag-.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 40%;
}
.good_xianshi {
  display: inline-block;
  background-color: red;
  color: #fff;
  font-size: 0.6rem;
  padding: 0 0.25rem;
  margin-left: 1rem;
}
.goods {
  flex: 0 0 49vw;
  display: inline-block;
  margin-top: 2vw;
}
.goods .img-wrap {
  height: 70%;
  text-align: center;
  overflow: hidden;
}
.goods:nth-child(2n) {
  margin-left: 2vw;
}
.goods:nth-child(1),
.goods:nth-child(2) {
  margin-top: 0;
}
#register .item-input {
  border-left: none;
  border-right: none;
  margin-top: 8px;
  border-top: none;
}
.code-img {
  width: 1rem;
}
.code {
  padding: 0 .75rem;
  position: absolute;
  right: 0;
  background-color: #535454;
  width: 100px;
}
.code-tip {
  font-size: 0.55rem;
  margin-left: 0.75rem;
  color: #343434;
}
.agree {
  margin: 0.75rem;
  display: block;
}
.agree img {
  vertical-align: middle;
}
.ok {
  color: #000000;
}
.error {
  color: #ff0000;
}
.submit {
  font-size: 0.7rem;
}
.divider-toutiao {
  background-image: url(../img/切图/P2首页/drawable-hdpi/kuang1.png);
}
.toutiao-title {
  display: inline-block;
  height: 1.3rem;
  line-height: 1.3rem;
}
.untime {
  color: #777777;
}
.bg-time {
  display: inline-block;
  background-image: url(../img/切图/P2首页/drawable-hdpi/shijian.png);
  padding: 5px 10px;
}
.hotBrand {
  height: 33.33vw;
}
.quanlist {
  width: 200%;
}
.quanwrap {
  width: 50%;
}
.quanwrap .quan {
  background-image: url(../img/切图/P2首页/drawable-hdpi/youhuiquan-bg.png);
  position: relative;
  height: 4.5rem;
  margin: 0.75rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.quanwrap .quan2 {
  background-image: url(../img/切图/P2首页/drawable-hdpi/youhuiquan-2.png);
}
.quan-l {
  width: 33%;
  height: 100%;
}
.money {
  margin: 0.5rem 0;
  padding-top: 0.75rem;
  margin-bottom: 0.25rem;
}
.quan-l .price {
  font-size: 1.25rem;
  height: 100%;
}
.quanStore {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.quan-r {
  height: 100%;
  text-align: left;
  width: 67%;
  float: right;
  padding: 0 0.5rem;
}
.quan-r h3 {
  font-size: 0.8rem;
  padding-right: 3rem;
}
.getQuan.button {
  font-size: 0.7rem ;
  color: #fff;
}
.getQuan {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  line-height: 1rem;
  background-color: #b09565;
  width: 2.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
}
.tuijian .item-divider.title {
  background-color: #e0e0e0;
}
.goods {
  background-color: #fff;
}
.goods-title {
  margin: 0.25rem 0;
  height: 2.2em;
  line-height: 1.1em;
}
.goods-img {
  min-height: 3rem;
  height: 49vw;
  width: 100%;
  line-height: 49vw;
}
.samelist .samegoods .goods-img {
  height: 33vw;
  line-height: 33.3vw;
}
.goods-img > img {
  max-height: 100%;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
.goods-name {
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  height: 2.1em;
  line-height: 1em;
}
.more button.button-clear span {
  color: #333;
  margin-left: 1.5rem;
  margin-right: 1rem ;
}
.more-img {
  width: 0.5rem;
  height: auto;
}
#footer div {
  width: 25%;
  float: left;
  text-align: center;
}
#footer div a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
.detail .back-button {
  position: absolute;
  z-index: 10;
}
.detail ion-slide-box {
  position: relative;
  z-index: 9;
}
.detail .store {
  background-size: cover;
  background-image: url(../img/切图/P3-2商品详情/drawable-hdpi/bg1.png);
}
.detail .card {
  margin: 0;
}
.detail .cardr img {
  position: relative;
  top: -0.75rem;
  width: 1rem;
  left: 0.375rem;
  height: auto;
}
.detail .cardr span {
  position: relative;
  left: -0.8250000000000001rem;
  top: 0.375rem;
}
.detail .assess-title img {
  width: 1rem;
}
.detail .sameStore {
  margin-top: 1rem;
}
.detail .sameStore .list {
  margin-bottom: 0;
}
.detail .samegoods {
  flex: 0 0 33.333vw;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-top: none;
}
.detail .samegoods:nth-child(3n+2) {
  border-left: none;
  border-right: none;
}
.detail .tab-item i {
  height: 1.3rem;
  line-height: 1.3rem;
  display: block;
}
.detail .tab-item button {
  border-radius: 0;
}
.classify {
  width: 30vw;
  font-size: 0.7rem;
  background-color: #e0e0e0;
}
.classify li {
  height: 1.75rem;
  border: 1px solid #eee;
  line-height: 1.75rem;
  color: #333;
}
.classify li.active {
  color: #343434;
  background-color: #f5f5f4;
  background-image: url(../img/切图/P3分类首页/drawable-hdpi/choosebox-.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.4rem 80%;
}
.classify-detail {
  width: 70vw;
}
.classify-detail li {
  width: 50%;
  height: 2.25rem;
  line-height: 2.25rem;
  border-bottom: 1px solid #e7e7e7;
}
.classify-detail li:nth-child(2n+1) {
  border-right: 1px solid #e7e7e7;
}
.close {
  padding-bottom: 0;
}
.spec {
  height: 4.5rem;
  border-top: none;
  overflow: visible;
}
.spec .pop-detail-img {
  background-image: url(../img/切图/P3-2商品详情-规格选择/drawable-hdpi/pic-bg.png);
  margin-right: 1.25rem;
}
.spec .pop-detail-img img {
  margin-top: -0.75rem;
  margin-left: 0.75rem;
  height: 4.5rem;
  width: auto;
}
.order-user-info {
  height: 5.05rem;
}
.order-user-info .item p {
  color: #333;
  overflow-wrap: break-word;
}
.order-user-info .icon {
  font-size: 1rem;
  height: 2rem;
}
.order-goods-info {
  box-sizing: border-box;
  padding-top: 0.75rem;
}
.order-goods {
  height: 5rem;
  overflow: hidden;
}
.order-goods:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.change-kuaidi {
  display: inline-block;
}
.order-kuaidi > span {
  vertical-align: top;
  font-size: 0.8rem;
}
.order-kuaidi .icon {
  vertical-align: sub;
}
.fapiao .item .icon,
.youhuiquan .item .icon {
  font-size: 0.8rem;
}
.liuyan textarea {
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 0.6rem;
}
.price .item {
  font-size: 0.55rem;
}
.surePay {
  padding: 0.5rem 1rem;
}
.surePay a.button {
  color: #ffffff;
}
.myorder-content {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.myorder-content p {
  margin: 0.25rem 0;
}
.myorder-img {
  position: relative;
}
.myorder-img img {
  width: 65px;
  height: auto;
  margin-right: 0.5rem;
}
.myorder-img .icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  font-size: 1rem;
}
.addresslist .address-text {
  margin-bottom: 1px;
}
.addresslist .address {
  margin-bottom: 0.5rem;
}
.item.myCollect {
  height: 5rem;
  overflow: hidden;
}
.myCollect h3 {
  padding-top: 0.5rem;
  max-height: 2.05rem;
}
.myCollect p {
  color: #999;
  font-size: 0.55rem;
  margin-top: 5px;
}
.barter-info p {
  font-size: 0.6rem;
}
.barter-goods > div {
  overflow: hidden;
}
.barter-goods .item h3 {
  padding-top: 0.5rem;
}
.tabs a {
  border-radius: 0;
  border: none;
}
.buy-show .bar-header {
  background-image: linear-gradient(0deg, #111111, #111111 50%, transparent 50%);
}
.bar-header a {
  top: 0;
}
.header-right {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  vertical-align: middle;
}
.buy-show-search {
  padding: 0.75rem;
}
.buy-show-search label {
  height: 1.4rem;
}
.buy-show-search input {
  font-size: 0.6rem;
}
.show-goods .col {
  padding: 0;
}
.show-goods .col > div {
  overflow: hidden;
  padding: 5px;
}
.show-goods .col img {
  width: 4.5rem;
  height: auto;
}
.show-goods-bottom img {
  margin-right: 5px;
}
.show-goods-bottom i {
  margin-right: 10px;
}
.limit-list .col {
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
}
.limit-list .col .limit-list-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 9;
  text-align: center;
}
.limit-list .qianggou {
  position: absolute;
  z-index: 10;
  width: 50%;
  height: auto;
  right: 0;
  top: 0;
}
.limit-list-goodswrap {
  padding-right: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.limit-list .limit-list-goods {
  font-size: 0.65rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-image: url(../img/切图/P8限时抢购/drawable-hdpi/zhezhaoceng.png);
}
.limit-list-goods-info {
  height: 7.5rem;
  position: relative;
  overflow: hidden;
}
.limit-numed {
  margin-bottom: 0.5rem;
}
.limit-list-goods-img {
  width: 35vw;
  height: 6rem;
  display: block;
  line-height: 6rem;
}
.limit-list-goods-info .limit-list-goods-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.nowrob {
  margin-top: -0.3rem;
  margin-right: 0.75rem;
}
.limit-list-goods-info.nostar {
  opacity: 0.8;
}
.limit-list-goods-info .goods-nostart {
  display: block;
  position: absolute;
  top: 0.5rem;
  z-index: 10;
  font-size: 0.65rem;
  width: 3.2rem;
  height: 1.2rem;
  line-height: 1.25rem;
  background-image: url(../img/切图/P8限时抢购/drawable-hdpi/tips.png);
  -webkit-background-size: cover;
  padding-left: 5px;
  background-size: cover;
}
.store-index .search-shop {
  border: none;
}
.store-index input {
  color: #666;
  text-align: left;
}
.store-index .icon {
  margin-top: -2px;
  margin-left: 10px;
}
.store-index .icon-img {
  vertical-align: inherit;
}
.store-index.bar {
  background-size: 100% 0;
}
.store-top {
  position: relative;
  height: 6.5rem;
}
.store-top_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.store-index-con {
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.store-index-con .store-img {
  height: 3rem;
  width: 3rem;
  margin-right: 0.25rem;
}
.store-cen {
  display: inline-block;
  overflow: hidden;
  height: 2.25rem;
}
.store-cen h3 {
  margin-bottom: 5px;
}
.goods-shoucang {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  text-align: center;
  line-height: 1.25rem;
  z-index: 10;
}
.goodbig {
  height: 60vw;
  width: 40vw;
  box-sizing: border-box;
}
.goodssmall {
  width: 60vw;
  height: 60vw;
  box-sizing: border-box;
}
.small1 {
  width: 50%;
  height: 50%;
  border-left: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.goodssmall .small1:first-child,
.goodssmall .small1:nth-child(2) {
  border-bottom: 1px solid #e6e6e6;
}
.cuxian {
  margin-bottom: 3px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  display: inline-block;
}
.xixian {
  border-bottom: 1px solid #000;
  display: inline-block;
}
.store-index-footer.tabs {
  -webkit-background-size: 100% 0;
  background-size: 100% 0;
}
.myinfo.top {
  height: 8.5rem;
  background-image: url(../img/切图/P6我的/drawable-hdpi/bg-pic.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.myinfo .bar.bar-header {
  background-color: transparent;
}
.myinfo .img-touxiang {
  width: 2.85rem ;
  height: 3.225rem;
  display: inline-block;
  padding: 1px;
  background-image: url(../img/切图/P6我的/drawable-hdpi/touxiang-bianji.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.myinfo .img-touxiang .img-wrap {
  background-image: url(../img/切图/P6我的/drawable-hdpi/touxiang-bg.png);
  padding: 5px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.myinfo .img-touxiang img {
  width: 100%;
  height: 100%;
}
.myinfo .bianji {
  right: 0.75rem;
  bottom: 8px;
}
.myinfo .phone {
  font-size: 0.65rem;
}
.myinfo .grade {
  font-size: 10px;
}
.myinfo .touxiang-info {
  margin-top: 2.5rem;
}
.myinfo-con {
  top: 8.5rem;
}
.myinfo-nav .col i {
  position: relative;
}
.myinfo-nav .qipao {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  line-height: 0.75rem;
  background-color: #ff2b26;
  display: inline-block;
  color: #fff;
  font-size: 0.5rem;
}
.classify-con.scroll-content {
  width: 70vw;
  margin-left: 30vw;
}
.classify-con .img-top img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.feilei-goods-imgwrap {
  background: url(../img/切图/P3分类首页/drawable-hdpi/pic-bg.png) no-repeat 100% 100%;
  height: 23.33vw;
  text-align: center;
  padding: 0;
}
.feilei-goods-imgwrap img {
  height: 75%;
  width: auto;
}
.feilei-goods-imgwrap p {
  line-height: 100%;
  height: 20%;
  margin: 0;
}
.feilei-feilei-imgwrap {
  height: 23.33vw;
  padding: 0;
  overflow: hidden;
  text-align: center;
  line-height: ;
}
.feilei-feilei-imgwrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
}
.pinpaiguan-list-imgwrap {
  width: 32vw;
  height: 32vw;
  margin-top: 2vw;
  float: left;
  overflow: hidden;
  text-align: center;
}
.pinpaiguan-list-imgwrap:nth-child(3n+2) {
  margin-left: 2vw;
  margin-right: 2vw;
}
.pinpaiguan-list-imgwrap img {
  height: 100%;
  line-height: 100%;
}
.pinpaiguan-list .pinpaiguan-list-box {
  padding-bottom: 1.5rem;
}
.pinpaiguan-list .pinpaiguan-list-box .slider-pager .slider-pager-page {
  bottom: 10px;
  color: #000000;
}
.pinpaitehui h3:before,
.pinpaitehui h3:after {
  content: "";
  width: 0.75rem;
  height: 0.15rem;
  background-color: #000;
  display: inline-block;
  margin: 5px;
}
.fapiaotype span {
  vertical-align: middle;
}
.popover.hs {
  height: 10rem;
}
.popover.hl {
  height: 14rem;
  transform: translate(0, -4rem);
}
.fapiao .popover-arrow {
  display: none;
}
.paytop {
  background-image: url(../img/切图/确认订单并支付（收银台）/drawable-hdpi/tab1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.item.zhifu.active {
  background-color: #e7e7e7;
}
.ordde li span {
  width: 3.5rem;
  display: inline-block;
}
